.landing-page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: white;

    .main-section{
        color: var(--ramonak-color);
        height: 80vh;
        width: 100%;
        border-bottom: 3px solid black;

        .main-title{
            font-size: 80px;
            font-weight: 700;
            line-height: 85px;
        }

        .main-subtitle{
            font-size: 48px;
            font-weight: 700;
            line-height: 55px;
        }

        .cta-button{
            width: 200px;
            height: 50px;
            background-color: var(--ramonak-color);
            color: white;
            font-size: 24px;
            text-transform: uppercase;
            font-weight: bolder;
            border: 1.5px solid var(--ramonak-color);
            border-radius: 10px;
            cursor: pointer;
            margin: 0;
            transition: background-color .5s;

            &:hover {
                background-color: white;
                color: var(--ramonak-color);
            }
        }
    }

    .tabata-app-divider{
        width: 100%;
        font-size: xx-large;
        font-weight: bolder;
        color: var(--ramonak-color);
        text-align: left;
        padding: 50px;
        border-bottom: 3px solid black;
    }
}