.about-tabata{
    width: 100%;
    border-bottom: 3px solid black;

    .about-tabata-title{
        width: 100%;
        font-size: xx-large;
        font-weight: bolder;
        color: var(--ramonak-color);
        text-align: left;
        padding: 50px 0 40px 50px;
    }

    .about-tabata-description{
        text-align: left;
        font-size: larger;
        padding-left: 100px;
        
        li {
            padding-bottom: 10px;
        }
    }
}